<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="browser.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <title>Purehint demo</title>
</head>
<body ng-app="Purehint">
    <div class="container" ng-controller="PurehintController as purehintController">
        <div class="title">purehint</div>
        <div id="editor"></div>
        <div class="sidebar">
            <div class="options">
                <div><input type="checkbox" ng-change="purehintController.reflow()" ng-model="purehintController.options.allowVar">Allow vars</div>
                <div><input type="checkbox" ng-change="purehintController.reflow()" ng-model="purehintController.options.disallowArray">Disallow array mutators</div>
                <div><input type="checkbox" ng-change="purehintController.reflow()" ng-model="purehintController.options.disallowPrototype">Disallow assignments to prototype</div>
                <div><input type="checkbox" ng-change="purehintController.reflow()" ng-model="purehintController.options.disallowExports">Disallow assignments to exports</div>
            </div><!--
            --><div>
            <table class="stats">
                <tr><td>Vars</td><td>{{purehintController.stats.vars}}</td></tr>
                <tr><td>Assignments</td><td>{{purehintController.stats.assignments}}</td></tr>
                <tr><td>Updates</td><td>{{purehintController.stats.updates}}</td></tr>
                <tr><td>Fors</td><td>{{purehintController.stats.fors}}</td></tr>
                <tr><td>For ins</td><td>{{purehintController.stats.forIns}}</td></tr>
                <tr><td>Whiles</td><td>{{purehintController.stats.whiles}}</td></tr>
                <tr><td>Do whiles</td><td>{{purehintController.stats.doWhiles}}</td></tr>
                <tr><td>Array methods</td><td>{{purehintController.stats.arrayMethods}}</td></tr>
            </table>
        </div>
    </div>

    </div>
    <script src="../lib/angular.min.js"></script>

    <script src="../lib/ace/ace.js"></script>
    <script src="../lib/ace/theme-monokai.js"></script>
    <script src="../lib/ace/mode-javascript.js"></script>
    <script src="../lib/ace/worker-javascript.js"></script>

    <script src="bundle.js"></script>
</body>
</html>